@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Roboto';
	--font-lucky: 'Luckiest Guy', cursive;
}


@utility container {
  padding-left: 1rem;
  padding-right: 1rem;
}