@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Open Sans';
	--font-lucky: 'Luckiest Guy', cursive;
	--font-kaikoura: 'Kaikoura';
}

@utility container {
	padding-left: 1rem;
	padding-right: 1rem;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f0b100;
}

@font-face {
	font-family: 'Kaikoura';
	src: url('/font/kaikoura.eot');
	src:
		url('/font/kaikoura.eot?#iefix') format('embedded-opentype'),
		url('/font/kaikoura.woff') format('woff'),
		url('/font/kaikoura.woff2') format('woff2'),
		url('/font/kaikoura.ttf') format('truetype'),
		url('/font/kaikoura.svg#Kaikoura W00 Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
