@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Open Sans';
	--font-lucky: 'Luckiest Guy', cursive;
}

@utility container {
	padding-left: 1rem;
	padding-right: 1rem;
}

html {
	scroll-behavior: smooth;
}
